

<br>
<div class="main">
  <div class="class="container mt-5 pt-5">
    <div class="w-50 mx-auto py-3 px-4 border">
      <div class="d-flex justify-content-center text-center">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h3 class="card-title">Reunião Confirmada</h3>
            <h5 class="card-title"><%= @meeting.availability.date.strftime("%a, %B %d %Y") %></h5>
            <p class="card-text"><%= @meeting.availability.time.strftime('%k:%M') %></p>
            <p class="card-text"><%= @meeting.subject %></p>
            <p class="card-text">20 minutos de duração</p>
            <p class="card-text">O link de acesso foi enviado ao seu e-mail</p>
            <ul class="icons-inline">
              <li>
                <%= link_to  root_path do %>
                   <i class="fas fa-home"></i>
                   <p> <%= link_to "voltar à home", root_path %> </p>
                <% end %>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
 </div>
</div>

<%= link_to "voltar à home", root_path %>
