<br>
<h2 class="text-center">Avaliabilities</h2>
<br>
<div class="d-flex justify-content-center text-center">
  <div class="cards">
    <% @availabilities.each do |availability| %>
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h6 class="card-title"><strong><%= availability.date.strftime("%A, %d %b %Y") %></strong></h6>
          <p class="card-text"><%= availability.time.strftime('%k:%M %P') %></p>
          <p class="card-text">20 minutes long</p>
          <ul class="icons-inline">
            <li class="text-center">
              <%= link_to(availability_path(availability)) do %>
                <i class="fas fa-info-circle"></i>
              <% end %>
            </li>
              <% if availability.user == current_user %>
                  <li>
                    <%= link_to availability_path(availability), method: :delete, data: { confirm: 'Are you sure?' }, class: 'user' do %>
                       <i class="fa fa-trash-alt"></i>
                    <% end %>
                  </li>
              <% end %>
          </ul>
          <p class="p-a-card">
            <% if availability.user != current_user %>
                <%= link_to "Set-up Meeting", { action: 'new', controller: 'meetings', availability_id: availability }, class: "a-card"  %>
             <% else %>
                <p class="without-hover">Availability is yours</p>
             <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
