<nav>
  <ul>
    <li>
      <i class="fas fa-calendar-check" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"></i>
      <%= link_to "Jurídico 1.0", root_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "Home", root_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "My availabilities", availabilities_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "My meetings", meetings_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "Help", root_path, class: "a-nav"  %>
    </li>
    <li id="right-align">
        <%= current_user.email  %>
    </li>
  </ul>
</nav>

<h3 class="text-center">New Availability</h3>

<div class="main">
  <div class="class="container mt-5 pt-5">
    <div class="w-50 mx-auto py-3 px-4 border">
      <div class="d-flex justify-content-center text-center">
        <div class="form" style="width: 100%;">
          <%= simple_form_for @availability do |f| %>
            <%= f.input :date %>
            <%= f.input :time, as: :select, collection: @times.values %>
            <%= f.button :submit, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
 </div>
</div>

<footer>
  <ul>
    <h6><strong>Advocacia-Geral da União</strong></p>
    <p>Ed. Sede I - Setor de Autarquias Sul - Quadra 3 - Lote 5/6, Ed. Multi Brasil Corporate - Brasília-DF - CEP 70.070-030 - Fones: (61) 2026-9202 e 2026-9712</p>
    <li>
      <i class="fas fa-globe-americas"></i>
    </li>
    <li>
      <i class="fab fa-twitter-square"></i>
    </li>
    <li>
      <i class="fab fa-youtube-square"></i>
    </li>
    <li>
      <i class="fab fa-facebook-square"></i>
    </li>
    <li>
      <i class="fab fa-flickr"></i>
    </li>
  </ul>
</footer>



