<!-- https://www.w3schools.com/css/css_navbar.asp -->
<nav>
  <ul>
    <li>
      <i class="fas fa-calendar-check" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"></i>
      <%= link_to "Jurídico 1.0", root_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "Home", root_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "My availabilities", availabilities_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "My meetings", meetings_path, class: "a-nav"  %>
    </li>
    <li>
        <%= link_to "Help", root_path, class: "a-nav"  %>
    </li>
    <li id="right-align">
        <%= current_user.email  %>
    </li>
  </ul>
</nav>

<div class="main">
  <div class="class="container mt-5 pt-5">
    <div class="w-50 mx-auto py-3 px-4 border">
      <div class="d-flex justify-content-center text-center">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h3 class="card-title">Avaliability</h5>
            <h5 class="card-title"><%= @availability.date %></h5>
            <p class="card-text"><%= @availability.time.strftime('%k:%M') %></p>
            <p class="card-text">20 minutes long</p>
            <p class="card-text"><%= @availability.user.email %></p>
            <p class="card-text"><%= link_to "Delete", availability_path(@availability), method: :delete  %></p>
            <p><%= link_to "Schedule Meeting", { action: 'new', controller: 'meetings', availability_id: @availability }, class: "a-card"  %></p>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>

<footer>
  <ul>
    <li>
      <i class="fas fa-globe-americas"></i>
    </li>
    <li>
      <i class="fab fa-twitter-square"></i>
    </li>
    <li>
      <i class="fab fa-youtube-square"></i>
    </li>
    <li>
      <i class="fab fa-facebook-square"></i>
    </li>
    <li>
      <i class="fab fa-flickr"></i>
    </li>
  </ul>
</footer>
