
<br>
<div class="main">
  <div class="container">
    <div class="w-50 mx-auto py-3 px-4 border">
      <div class="d-flex justify-content-center text-center">
        <div class="card-show">
          <div class="card-body">
            <h3 class="card-title">Avaliability</h3>
            <h5 class="card-title"><%= @availability.date.strftime("%a, %B %d %Y") %></h5>
            <p class="card-text">Start time: <%= @availability.time.strftime('%k:%M %P') %></p>
            <p class="card-text">Duration: 20 minutes long</p>
            <p class="card-text">Lawyer: <%= @availability.user.name %></p>
            <ul class="icons-inline">
              <li>
                <% if @availability.user == current_user %>
                  <%= link_to availability_path(@availability), method: :delete, data: { confirm: 'Are you sure?' }, class: 'user' do %>
                     <i class="fa fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </li>
            </ul>
            <% if @availability.user != current_user %>
              <p><%= link_to "Set-up Meeting", { action: 'single_meeting', controller: 'meetings', availability_id: @availability }, method: :get ,class: "a-card"  %></p>
            <% else %>
              <p class="without-hover">Availability is yours</p>
            <% end %>
            <%= link_to :back do %>
                <i class="fas fa-undo", style = "color: #41444B;"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <div class="class="container mt-5 pt-5">

  </div>
</div>

<%#= link_to "Availabilities" , availabilities_path %>
