<!DOCTYPE html>
<html>
  <head>
    <title>JuridicoBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <!-- <i class="fas fa-gavel"></i> -->
          <!-- <i class="fas fa-calendar-check" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"></i> -->
          <i class="fas fa-gavel" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"></i>
          <%= link_to "Jurídico 1.0", root_path, class: "a-nav"  %>
        </li>
        <li>
            <%= link_to "Home", root_path, class: "a-nav"  %>
        </li>
        <li>
            <%= link_to "My availabilities", availabilities_path, class: "a-nav"  %>
        </li>
        <li>
            <%= link_to "My meetings", meetings_path, class: "a-nav"  %>
        </li>
        <li>
            <%#= link_to "Help", root_path, class: "a-nav"  %>
        </li>
        <% if user_signed_in? %>
          <li id="right-align">
            <div class="dropdown">
              <span><%= current_user.email %></span>
              <div class="dropdown-content">
                <%= link_to "Edit profile", edit_user_registration_path %>
                <%= link_to "Change password", edit_user_registration_path %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </div>
            </div>
          </li>
          <% else %>
          <li id="right-align">
            <%= link_to "Login", new_user_session_path %>
          </li>
          <li id="right-align">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </nav>

    <main>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>

    <footer>
      <ul>
        <h6><strong>Advocacia-Geral da União</strong></h6>
        <p>Setor de Autarquias Sul - Quadra 3 - Lote 5/6, Ed. Multi Brasil Corporate - Brasília-DF - CEP 70.070-030 - Phone numbers: (61) 2026-9202 e 2026-9712</p>
        <li>
          <%= link_to "https://www.gov.br/agu/pt-br", target: "_blank", class: 'link' do %>
            <i class="fas fa-globe-americas"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://twitter.com/AdvocaciaGeral", target: "_blank", class: 'link' do %>
            <i class="fab fa-twitter-square"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.youtube.com/user/AguBrasil", target: "_blank", class: 'link' do %>
            <i class="fab fa-youtube-square"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://pt-br.facebook.com/agubrasil/", target: "_blank", class: 'link' do %>
            <i class="fab fa-facebook-square"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.flickr.com/photos/advocaciageraldauniao/", target: "_blank", class: 'link' do %>
            <i class="fab fa-flickr"></i>
          <% end %>
        </li>
        <li>

        </li>
      </ul>
    </footer>
  </body>
</html>
